<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>IEXAM</title>
    <!--<link th:href="@{/css/iexam/scrollbar.css}" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/fontAwesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/fontAwesome/css/v4-shims.css}">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link th:href="@{/css/mdb.min.css}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link th:href="@{/css/addonss/bootstrap-table.min.css}" rel="stylesheet">

    <link th:href="@{/css/iexam/emmo_Apparence.css}" rel="stylesheet">

    <link th:href="@{/css/iexam/bootoast.css}" rel="stylesheet">
    <link th:href="@{/css/addonss/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <style>

    </style>
</head>

<body class="single-page cloudy-knoxville-gradient ">
<div id="exam_title">
    <div class="container" style="margin-top: -6px;">
        <main>

            <div>
                <!-- Section: Blog v.4 -->
                <section class="mt-2 pb-3 wow fadeIn">
                    <!-- Grid row -->
                    <div class="row">
                        <div class="mt-3 px-3 col-12 mb-0 pb-0 container">

                            <form class="form-inline float-left mb-0 pb-0 ml-5">
                                <div class="md-form my-0 mb-0 pb-0">
                                    <input class="form-control mr-2 float-left mb-0 pb-0" type="text" placeholder="搜索"
                                           v-model="page.title_search"
                                           aria-label="Search">
                                    <button class="btn btn-primary btn-sm my-0 my-sm-0 ml-1 float-left" type="button"
                                            @click="showTitleList">搜索
                                    </button>
                                </div>
                            </form>

                            <button type="button" class="btn btn-primary btn-sm float-right mr-5" data-toggle="modal"
                                    data-target="#exampleModalCenter">添加职称
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mt-2 p-3 col-12">
                            <div class="row d-flex" style="min-height: 300px;">
                                <!-- Card Light -->
                                <div class="col-3 px-3" v-for="(item,index) in titles">
                                    <div class="card mb-3 float-left">
                                        <!-- Card image -->
                                        <div class="view overlay">
                                            <img class="card-img-top"
                                                 th:src="@{/img/title.png}" v-if="item.photoPath===''">
                                            <img class="card-img-top"
                                                 :src="item.photoPath" v-if="item.photoPath!=''">
                                        </div>
                                        <!-- Card content -->
                                        <div class="card-body">

                                            <!-- Title -->
                                            <h6 class="card-title mt-2" v-text="item.titleName">职称</h6>
                                            <hr>
                                            <!-- Text -->
                                            <p class="card-text" v-text="item.content">描述</p>
                                            <hr>
                                            <div class="btn-group w-100 justify-content-center" role="group">
                                                <button type="button" @click="chooseTitle(index)" data-toggle="modal"
                                                        data-target="#updateTitle"
                                                        class="btn btn-sm btn-outline-primary btn-rounded waves-effect">
                                                    <i class="far fa-edit"></i></button>
                                                <button type="button" @click="editReview(index)"
                                                        class="btn btn-sm btn-outline-default px-2 waves-effect"
                                                        data-toggle="modal"
                                                        data-target="#editReview">
                                                    管理阅卷
                                                </button>
                                                <button type="button" @click="deleteTitle(index)"
                                                        class="btn btn-sm btn-outline-danger btn-rounded waves-effect">
                                                    <i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="md-form input-group d-flex justify-content-center">
                        <div class="input-group-prepend">
                            <button class="pages-first btn btn-md btn-primary m-0 px-3" type="button"
                                    id="titlePrevStart"><i
                                    class="fas fa-angle-double-left"></i></button>
                            <button class="pages-prev btn btn-md btn-primary m-0 px-3" type="button" id="titlePrev"><i
                                    class="fas fa-angle-left"></i></button>
                        </div>
                        <input type="text" class="form-control text-center col-4 pages-active" id="titleNowPage"
                               :value="page.showtext">
                        <div class="input-group-append">
                            <button class="pages-next btn btn-md btn-primary m-0 px-3" type="button" id="titleNext"><i
                                    class="fas fa-angle-right"></i></button>
                            <button class="pages-last btn btn-md btn-primary m-0 px-3" type="button" id="titleNextTop">
                                <i
                                        class="fas fa-angle-double-right"></i></button>
                        </div>
                    </div>

                </section>
            </div>
        </main>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">添加职称</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="md-form input-group mb-4">
                                <div class="input-group-append">
                                    <span class="input-group-text md-addon">职称名：</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="material-addon2"
                                       v-model="submitTitle.titleName">
                            </div>
                            <div class="form-group px-2">
                                <label class="font-weight-normal" for="exampleFormControlTextarea2">简介：</label>
                                <textarea class="form-control rounded-0"
                                          rows="3" v-model="submitTitle.content"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="addTitle">确认添加</button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="updateTitle" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <!-- <div> -->
        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleTitle">修改职称</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="view overlay">
                                <img class="card-img-top"
                                     th:src="@{/img/title.png}" v-if="updateTitle.photoPath===''">
                                <img class="card-img-top"
                                     :src="updateTitle.photoPath" v-if="updateTitle.photoPath!=''">
                            </div>
                        </div>
                        <div class="col-6">
                            <form class="md-form my-5">
                                <div class="file-field">
                                    <div class="d-flex justify-content-center">
                                        <div class="btn btn-primary btn-rounded float-left">
                                            <span>添加图片</span>
                                            <input name="add_photo_exam" type="file" @change="uploadImg" id="imgFile">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="md-form input-group mb-4">
                                <div class="input-group-append">
                                    <span class="input-group-text md-addon" id="material-addon2">职称名：</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="material-addon2"
                                       v-model="updateTitle.titleName">
                            </div>
                            <div class="form-group px-2">
                                <label class="font-weight-normal" for="exampleFormControlTextarea2">简介：</label>
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2"
                                          v-model="updateTitle.content"
                                          rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="updateTitles">保存修改</button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade top" id="editReview" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <!-- <div> -->
        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-full-height modal-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="guanliyuejuan">管理阅卷</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center">

                    <div class="col-5 mr-5 card">
                        <div class="mt-4">
                            <span style="font-size: 1.5em">全部内部人员</span>
                            <form class="form-inline float-right mb-0 pb-0 mr-2">
                                <div class="md-form my-0 mb-0 pb-0">
                                    <input class="form-control mr-2 float-left mb-0 pb-0" type="text" placeholder="搜索"
                                           v-model="xUser.page.user_search"
                                           aria-label="Search">
                                    <button class="btn btn-primary btn-sm my-0 my-sm-0 ml-1 float-left" type="button"
                                            @click="showInnerUser">搜索
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">名称</th>
                                    <th scope="col">联系方式</th>
                                    <th scope="col">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item,index) in xUser.users">
                                    <td v-text="item.realName"></td>
                                    <td v-text="item.phone"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect"
                                                @click="useReview(index)">启用阅卷
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="md-form input-group d-flex justify-content-center">
                                <div class="input-group-prepend">
                                    <button class="pages-first btn btn-md btn-primary m-0 px-3" type="button" id="innerUserPrevStart"><i
                                            class="fas fa-angle-double-left"></i></button>
                                    <button class="pages-prev btn btn-md btn-primary m-0 px-3" type="button" id="innerUserPrev"><i
                                            class="fas fa-angle-left"></i></button>
                                </div>
                                <input type="text" class="form-control text-center col-4 pages-active" id="innerUserPage" :value="xUser.page.showtext">
                                <div class="input-group-append">
                                    <button class="pages-next btn btn-md btn-primary m-0 px-3" type="button" id="innerUserNext"><i
                                            class="fas fa-angle-right"></i></button>
                                    <button class="pages-last btn btn-md btn-primary m-0 px-3" type="button" id="innerUserNextTop"><i
                                            class="fas fa-angle-double-right"></i></button>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-5 mr-5 card">
                        <div class="mt-4">
                            <span style="font-size: 1.5em">该职称对应的阅卷老师</span>
                            <form class="form-inline float-right mb-0 pb-0 mr-2">
                                <div class="md-form my-0 mb-0 pb-0">
                                    <input class="form-control mr-2 float-left mb-0 pb-0" type="text" placeholder="搜索"
                                           v-model="review.page.review_search"
                                           aria-label="Search">
                                    <button class="btn btn-primary btn-sm my-0 my-sm-0 ml-1 float-left" type="button"
                                            @click="showNowReview(titles[nowChooseTitleIndex].id)">搜索
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">阅卷教师名</th>
                                    <th scope="col">联系方式</th>
                                    <th scope="col">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item,index) in review.reviews">
                                    <td v-text="item.realName"></td>
                                    <td v-text="item.phone"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger btn-sm m-0 waves-effect"
                                                @click="removeReview(index)">移除阅卷
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="md-form input-group d-flex justify-content-center">
                                <div class="input-group-prepend">
                                    <button class="pages-first btn btn-md btn-primary m-0 px-3" type="button" id="reviewPrevStart"><i
                                            class="fas fa-angle-double-left"></i></button>
                                    <button class="pages-prev btn btn-md btn-primary m-0 px-3" type="button" id="reviewPrev"><i
                                            class="fas fa-angle-left"></i></button>
                                </div>
                                <input type="text" class="form-control text-center col-4 pages-active" id="reviewPage" :value="review.page.showtext">
                                <div class="input-group-append">
                                    <button class="pages-next btn btn-md btn-primary m-0 px-3" type="button" id="reviewNext"><i
                                            class="fas fa-angle-right"></i></button>
                                    <button class="pages-last btn btn-md btn-primary m-0 px-3" type="button" id="reviewNextTop"><i
                                            class="fas fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<!-- JQuery -->
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/Vue/vue.js}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" th:src="@{/js/popper.min.js}" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" th:src="@{/js/bootstrap.js}" src="/js/bootstrap.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" th:src="@{/js/mdb.min.js}" src="/js/mdb.min.js"></script>
<script type="text/javascript" th:src="@{/js/addons/bootstrap-table.min.js}"
        src="/js/addons/bootstrap-table.min.js"></script>
<script type="text/javascript" th:src="@{/js/addons/bootstrap-table-locale-all.js}"
        src="/js/addons/bootstrap-table-locale-all.js"></script>
<script type="text/javascript" th:src="@{/js/iexam/bootoast.js}"></script>
<script type="text/javascript" th:src="@{/js/iexam/emmo_backTable_basicOperator.js}"></script>

<script type="text/javascript" th:src="@{/js/Vue/IexamBack/backTemplates.js}"></script>
<!-- Custom scripts -->
<script>

    var vm = new Vue({
        el: "#exam_title",
        data: {
            updateTitle: {
                titleName: null,
                content: null,
                photoPath: '',
            },
            submitTitle: {
                titleName: null,
                content: null
            },
            titles: [],
            page: {
                showtext: null,
                keyPage: 1,
                active_paper: 1,
                title_search: null,
                page_size: 8,
                all_page: 1,
            },

            xUser:{
                users:[],
                page: {
                    showtext: null,
                    keyPage: 1,
                    active_paper: 1,
                    user_search: null,
                    page_size: 5,
                    all_page: 1,
                },
            },

            review:{
                reviews:[],
                page: {
                    showtext: null,
                    keyPage: 1,
                    active_paper: 1,
                    review_search: null,
                    page_size: 5,
                    all_page: 1,
                },
            },
            nowChooseTitleIndex: null
        },
        methods: {
            useReview(index){
                var _this = this;
                var titleId=this.titles[this.nowChooseTitleIndex].id;
                var reviewId=this.xUser.users[index].id;
                $.ajax({
                    url: "/reviewerTitle/addReviewerTitle?PAGE_FROM_TYPE=BACK",
                    type: "post",
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        reviewerId:reviewId,
                        titleId:titleId,
                        status:1
                    }),
                    success: function (data) {
                        if (data.status==0){
                            toast("该职称已有该阅卷老师",'danger');
                        } else{
                            toast("启用阅卷成功",'success');
                        }
                    },
                    error: function () {
                    }
                });
                this.showNowReview(titleId);
            },
            removeReview(index){
                var _this = this;
                var titleId=this.titles[this.nowChooseTitleIndex].id;
                var reviewId=this.review.reviews[index].id;
                $.ajax({
                    url: "/reviewerTitle/changeReviewerTitleStatus?PAGE_FROM_TYPE=BACK",
                    type: "post",
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        reviewerId:reviewId,
                        titleId:titleId
                    }),
                    success: function (data) {
                        toast("移除成功",'success');

                    },
                    error: function () {
                    }
                });
                this.showNowReview(titleId);
            },

            showNowReview(titleId){
                var _this = this;
                $.ajax({
                    url: "/xUser/getReviewByTitleId?PAGE_FROM_TYPE=BACK",
                    type: "post",
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        page: _this.review.page.active_paper,
                        size: _this.review.page.page_size,
                        review_search:_this.review.page.review_search,
                        titleId:titleId
                    }),
                    success: function (data) {
                        console.log(data);
                        _this.review.reviews = data.data;

                        if (parseInt(data.count) % _this.review.page.page_size == 0) {
                            _this.review.page.all_page = parseInt(data.count / _this.review.page.page_size);
                        } else {
                            _this.review.page.all_page = parseInt(data.count / _this.review.page.page_size) + 1;
                        }
                        if (_this.review.page.all_page==0){
                            _this.review.page.all_page=1;
                        }
                        _this.review.page.showtext = "第" + _this.review.page.active_paper + "页/共" + _this.review.page.all_page + "页";


                    },
                    error: function () {
                    }
                });
            },

            showInnerUser(){
                var _this = this;
                $.ajax({
                    url: "/xUser/getAllInnerUser?PAGE_FROM_TYPE=BACK",
                    type: "post",
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        page: _this.xUser.page.active_paper,
                        size: _this.xUser.page.page_size,
                        user_search:_this.xUser.page.user_search
                    }),
                    success: function (data) {
                        console.log(data);
                        _this.xUser.users = data.data;

                        if (parseInt(data.count) % _this.xUser.page.page_size == 0) {
                            _this.xUser.page.all_page = parseInt(data.count / _this.xUser.page.page_size);
                        } else {
                            _this.xUser.page.all_page = parseInt(data.count / _this.xUser.page.page_size) + 1;
                        }

                        if ( _this.xUser.page.all_page ==0){
                            _this.xUser.page.all_page =1;
                        }
                        _this.xUser.page.showtext = "第" + _this.xUser.page.active_paper + "页/共" + _this.xUser.page.all_page + "页";


                    },
                    error: function () {
                    }
                });
            },

            editReview(index) {
                this.nowChooseTitleIndex = index;
                this.showInnerUser();
                this.showNowReview(this.titles[this.nowChooseTitleIndex].id);
            },


            deleteTitle(index) {
                _this = this;
                $.ajax({
                    url: "/title/deleteTitle?PAGE_FROM_TYPE=BACK",
                    type: "post",
                    async: false,
                    dataType: "json",
                    data: {
                        titleId: this.titles[index].id,
                    },
                    success: function (data) {
                        console.log(data);
                        _this.titles.splice(index, 1);
                        toast("删除成功", 'success');
                    },
                    error: function () {
                    }
                });
            },
            chooseTitle(index) {
                this.nowChooseTitleIndex = index;
                this.updateTitle.titleName = this.titles[this.nowChooseTitleIndex].titleName;
                this.updateTitle.content = this.titles[this.nowChooseTitleIndex].content;
                this.updateTitle.photoPath = this.titles[this.nowChooseTitleIndex].photoPath;
            },

            logout() {
                console.log(1111);
            },
            uploadImg() {
                let formData = new FormData();
                formData.append('img', $('#imgFile')[0].files[0]);
                formData.append("titleId", this.titles[this.nowChooseTitleIndex].id);
                var _this = this;
                $.ajax({
                    url: '/title/uploadImg?PAGE_FROM_TYPE=BACK',
                    type: 'POST',
                    cache: false,
                    dataType: "json",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                        if (data.status == 1) {
                            _this.updateTitle.photoPath = data.data.src;
                            _this.titles[_this.nowChooseTitleIndex].photoPath = data.data.src;
                            toast("图片修改完毕", "success");
                        }
                    }
                });
            },
            updateTitles(index) {
                var chooseTitle = this.titles[index];
                var _this = this;
                $.ajax({
                    url: "/title/updateTitle?PAGE_FROM_TYPE=BACK",
                    type: "post",
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: this.titles[this.nowChooseTitleIndex].id,
                        titleName: _this.updateTitle.titleName,
                        content: _this.updateTitle.content,
                    }),
                    success: function (data) {
                        console.log(data);
                        _this.titles[_this.nowChooseTitleIndex].titleName = _this.updateTitle.titleName;
                        _this.titles[_this.nowChooseTitleIndex].content = _this.updateTitle.content;
                        toast("修改成功", 'success');
                    },
                    error: function () {
                    }
                });
            },
            addTitle() {
                var _this = this;

                if (_this.submitTitle.titleName == null) {
                    toast("请输入职称名", 'danger');
                    return;
                }

                $.ajax({
                    url: "/title/addTitle?PAGE_FROM_TYPE=BACK",
                    type: "post",
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        titleName: _this.submitTitle.titleName,
                        content: _this.submitTitle.content,
                    }),
                    success: function (data) {
                        console.log(data);
                        toast("添加成功,刷新后查看", 'success');
                    },
                    error: function () {
                    }
                });
            },
            showTitleList() {
                var _this = this;
                $.ajax({
                    url: "/title/getTitleList?PAGE_FROM_TYPE=BACK",
                    type: "post",
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        page: _this.page.active_paper,
                        size: _this.page.page_size,
                        title: {
                            titleName: _this.page.title_search,
                            status:1,
                        }
                    }),
                    success: function (data) {
                        _this.titles = data.data;

                        if (parseInt(data.count) % _this.page.page_size == 0) {
                            _this.page.all_page = parseInt(data.count / _this.page.page_size);
                        } else {
                            _this.page.all_page = parseInt(data.count / _this.page.page_size) + 1;
                        }

                        if ( _this.page.all_page ==0){
                            _this.page.all_page =1;
                        }
                        _this.page.showtext = "第" + _this.page.active_paper + "页/共" + _this.page.all_page + "页";


                    },
                    error: function () {
                    }
                });
            }
        },
        created() {
            this.showTitleList();
        }
    });

    //点击至首页
    $('#reviewPrevStart').click(function () {
        vm.review.page.active_paper = 1;
        vm.review.page.keyPage = vm.review.page.active_paper;
        //change(vm.page.active_paper);
        $("#reviewPage").val("第" + vm.review.page.active_paper + "页/共" + vm.review.page.all_page + "页");
        vm.showNowReview(vm.titles[vm.nowChooseTitleIndex].id);
    });

    //点击至尾页
    $('#reviewNextTop').click(function () {
        vm.review.page.active_paper = vm.review.page.all_page;
        vm.review.page.keyPage = vm.review.page.active_paper;
        //change(vm.page.active_paper);
        $("#reviewPage").val("第" + vm.review.page.active_paper + "页/共" + vm.review.page.all_page + "页");
        vm.showNowReview(vm.titles[vm.nowChooseTitleIndex].id);
    });

    //下一页
    $("#reviewNext").click(function () {
        if (vm.review.page.active_paper == vm.review.page.all_page) {
            console.log("当前页：" + vm.review.page.active_paper + "，无法继续点击");
            return false; //如果大于总页数就禁用下一页
        } else {
            $("#reviewPage").text(++vm.review.page.active_paper); //点击下一页的时候当前页数的值就加1
            vm.review.page.keyPage = vm.review.page.active_paper;
            //change(vm.page.active_paper);
            $("#reviewPage").val("第" + vm.review.page.active_paper + "页/共" + vm.review.page.all_page + "页");
        }
        vm.showNowReview(vm.titles[vm.nowChooseTitleIndex].id);
    });

    //上一页
    $("#reviewPrev").click(function () {
        if (vm.review.page.active_paper == 1) {
            console.log("当前页：" + vm.review.page.active_paper + "，无法继续点击");
            return false;
        } else {
            $("#reviewPage").text(--vm.review.page.active_paper);
            vm.review.page.keyPage = vm.review.page.active_paper;
            //change(vm.page.active_paper);
            $("#reviewPage").val("第" + vm.review.page.active_paper + "页/共" + vm.review.page.all_page + "页");
        }
        vm.showNowReview(vm.titles[vm.nowChooseTitleIndex].id);
    });

    $("#reviewPage").focus(function (event) {
        $(this).val(vm.review.page.active_paper).select();
    });

    $("#reviewPage").focusout(function (event) {
        /* Act on the event */
        vm.review.page.keyPage = parseInt($(this).val());
        if (vm.review.page.keyPage > vm.review.page.all_page | vm.review.page.keyPage < 0 | isNaN(vm.review.page.keyPage)) {
            $(this).val("第" + vm.review.page.active_paper + "页/共" + vm.review.page.all_page + "页")
        } else {

            vm.review.page.active_paper = vm.review.page.keyPage;
            //change(vm.page.active_paper);
            $(this).val("第" + vm.review.page.active_paper + "页/共" + vm.review.page.all_page + "页")
        }
        vm.showNowReview(vm.titles[vm.nowChooseTitleIndex].id);
    });

    $("#reviewPage").keyup(function (event) {
        let key = event.keyCode;
        if (key == 13) {
            vm.review.page.keyPage = parseInt($(this).val());
            if (vm.review.page.keyPage > vm.review.page.all_page | vm.review.page.keyPage < 0 | isNaN(vm.review.page.keyPage)) {
                $(this).val("第" + vm.review.page.active_paper + "页/共" + vm.review.page.all_page + "页")
            } else {
                vm.review.page.active_paper = vm.review.page.keyPage;
                $(this).val("第" + vm.review.page.active_paper + "页/共" + vm.review.page.all_page + "页")
                vm.showNowReview(vm.titles[vm.nowChooseTitleIndex].id);
            }
        }
    });




    //点击至首页
    $('#innerUserPrevStart').click(function () {
        vm.xUser.page.active_paper = 1;
        vm.xUser.page.keyPage = vm.xUser.page.active_paper;
        //change(vm.page.active_paper);
        $("#innerUserPage").val("第" + vm.xUser.page.active_paper + "页/共" + vm.xUser.page.all_page + "页");
        vm.showInnerUser();
    });

    //点击至尾页
    $('#innerUserNextTop').click(function () {
        vm.xUser.page.active_paper = vm.xUser.page.all_page;
        vm.xUser.page.keyPage = vm.xUser.page.active_paper;
        //change(vm.page.active_paper);
        $("#innerUserPage").val("第" + vm.xUser.page.active_paper + "页/共" + vm.xUser.page.all_page + "页");
        vm.showInnerUser();
    });

    //下一页
    $("#innerUserNext").click(function () {
        if (vm.xUser.page.active_paper == vm.xUser.page.all_page) {
            console.log("当前页：" + vm.xUser.page.active_paper + "，无法继续点击");
            return false; //如果大于总页数就禁用下一页
        } else {
            $("#innerUserPage").text(++vm.xUser.page.active_paper); //点击下一页的时候当前页数的值就加1
            vm.xUser.page.keyPage = vm.xUser.page.active_paper;
            //change(vm.page.active_paper);
            $("#innerUserPage").val("第" + vm.xUser.page.active_paper + "页/共" + vm.xUser.page.all_page + "页");
        }
        vm.showInnerUser();
    });

    //上一页
    $("#innerUserPrev").click(function () {
        if (vm.xUser.page.active_paper == 1) {
            console.log("当前页：" + vm.xUser.page.active_paper + "，无法继续点击");
            return false;
        } else {
            $("#innerUserPage").text(--vm.xUser.page.active_paper);
            vm.xUser.page.keyPage = vm.xUser.page.active_paper;
            //change(vm.page.active_paper);
            $("#innerUserPage").val("第" + vm.xUser.page.active_paper + "页/共" + vm.xUser.page.all_page + "页");
        }
        vm.showInnerUser();
    });

    $("#innerUserPage").focus(function (event) {
        $(this).val(vm.xUser.page.active_paper).select();
    });

    $("#innerUserPage").focusout(function (event) {
        /* Act on the event */
        vm.xUser.page.keyPage = parseInt($(this).val());
        if (vm.xUser.page.keyPage > vm.xUser.page.all_page | vm.xUser.page.keyPage < 0 | isNaN(vm.xUser.page.keyPage)) {
            $(this).val("第" + vm.xUser.page.active_paper + "页/共" + vm.xUser.page.all_page + "页")
        } else {

            vm.xUser.page.active_paper = vm.xUser.page.keyPage;
            //change(vm.page.active_paper);
            $(this).val("第" + vm.xUser.page.active_paper + "页/共" + vm.xUser.page.all_page + "页")
        }
        vm.showInnerUser();
    });

    $("#innerUserPage").keyup(function (event) {
        let key = event.keyCode;
        if (key == 13) {
            vm.xUser.page.keyPage = parseInt($(this).val());
            if (vm.xUser.page.keyPage > vm.xUser.page.all_page | vm.xUser.page.keyPage < 0 | isNaN(vm.xUser.page.keyPage)) {
                $(this).val("第" + vm.xUser.page.active_paper + "页/共" + vm.xUser.page.all_page + "页")
            } else {
                vm.xUser.page.active_paper = vm.xUser.page.keyPage;
                $(this).val("第" + vm.xUser.page.active_paper + "页/共" + vm.xUser.page.all_page + "页")
                vm.showInnerUser();
            }
        }
    });






    //点击至首页
    $('#titlePrevStart').click(function () {
        vm.page.active_paper = 1;
        vm.page.keyPage = vm.page.active_paper;
        //change(vm.page.active_paper);
        $("#titleNowPage").val("第" + vm.page.active_paper + "页/共" + vm.page.all_page + "页");
        vm.showTitleList();
    });

    //点击至尾页
    $('#titleNextTop').click(function () {
        vm.page.active_paper = vm.page.all_page;
        vm.page.keyPage = vm.page.active_paper;
        //change(vm.page.active_paper);
        $("#titleNowPage").val("第" + vm.page.active_paper + "页/共" + vm.page.all_page + "页");
        vm.showTitleList();
    });

    //下一页
    $("#titleNext").click(function () {
        if (vm.page.active_paper == vm.page.all_page) {
            console.log("当前页：" + vm.page.active_paper + "，无法继续点击");
            return false; //如果大于总页数就禁用下一页
        } else {
            $("#titleNowPage").text(++vm.page.active_paper); //点击下一页的时候当前页数的值就加1
            vm.page.keyPage = vm.page.active_paper;
            //change(vm.page.active_paper);
            $("#titleNowPage").val("第" + vm.page.active_paper + "页/共" + vm.page.all_page + "页");
        }
        vm.showTitleList();
    });

    //上一页
    $("#titlePrev").click(function () {
        if (vm.page.active_paper == 1) {
            console.log("当前页：" + vm.page.active_paper + "，无法继续点击");
            return false;
        } else {
            $("#titleNowPage").text(--vm.page.active_paper);
            vm.page.keyPage = vm.page.active_paper;
            //change(vm.page.active_paper);
            $("#titleNowPage").val("第" + vm.page.active_paper + "页/共" + vm.page.all_page + "页");
        }
        vm.showTitleList();
    });

    $("#titleNowPage").focus(function (event) {
        $(this).val(vm.page.active_paper).select();
    });

    $("#titleNowPage").focusout(function (event) {
        /* Act on the event */
        vm.page.keyPage = parseInt($(this).val());
        if (vm.page.keyPage > vm.page.all_page | vm.page.keyPage < 0 | isNaN(vm.page.keyPage)) {
            $(this).val("第" + vm.page.active_paper + "页/共" + vm.page.all_page + "页")
        } else {

            vm.page.active_paper = vm.page.keyPage;
            //change(vm.page.active_paper);
            $(this).val("第" + vm.page.active_paper + "页/共" + vm.page.all_page + "页")
        }
        vm.showTitleList();
    });

    $("#titleNowPage").keyup(function (event) {
        let key = event.keyCode;
        if (key == 13) {
            vm.page.keyPage = parseInt($(this).val());
            if (vm.page.keyPage > vm.page.all_page | vm.page.keyPage < 0 | isNaN(vm.page.keyPage)) {
                $(this).val("第" + vm.page.active_paper + "页/共" + vm.page.all_page + "页")
            } else {
                vm.page.active_paper = vm.page.keyPage;
                $(this).val("第" + vm.page.active_paper + "页/共" + vm.page.all_page + "页")
                vm.showTitleList();
            }
        }
    });

</script>

</body>

</html>
